<!doctype html>
<html lang="en">
<head>
    <title>Shop</title>
    <th:block th:include="layout/fragment.html :: head"></th:block>
    <link th:href="@{/css/shop.css}" rel="stylesheet" />
</head>
<body>
    <th:block th:replace="layout/fragment.html :: header"></th:block>

    <section id="page-header">
        <h2>#stayhome</h2>
        <p>Save more with coupons & up to 70% off!</p>
    </section>
    <section class="product section-p1">

        <div class="pro-container">
            <div class="pro">
                <img th:src="@{/images/products/f1.jpg}" alt="P-1">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/f2.jpg}" alt="P-2">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/f3.jpg}" alt="P-3">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/f4.jpg}" alt="P-4">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/f5.jpg}" alt="P-5">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/f6.jpg}" alt="P-6">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/f7.jpg}" alt="P-7">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/f8.jpg}" alt="P-8">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/n1.jpg}" alt="N-1">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/n2.jpg}" alt="N-2">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/n3.jpg}" alt="N-3">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/n4.jpg}" alt="N-4">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/n5.jpg}" alt="N-5">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/n6.jpg}" alt="N-6">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/n7.jpg}" alt="N-7">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img th:src="@{/images/products/n8.jpg}" alt="N-8">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </section>

    <th:block th:replace="layout/fragment.html :: pagination"></th:block>

    <th:block th:replace="layout/fragment.html :: newsletters"></th:block>
    <th:block th:replace="layout/fragment.html :: footer"></th:block>
    <th:block th:replace="layout/fragment.html :: foot"></th:block>
</body>
</html>
